@model ExceptionAPI.Data.WasteManagementEventEntity

@{
    ViewData["Title"] = "WasteManagementEvent";
}

<h2>Waste Management Event</h2>

<div>
    <h4>TransactionId: @Model.TransactionId</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EventId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AccountId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AccountId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EventType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>
        <dd>
            <span data-date="@Model.DateTime">@Html.DisplayFor(model => model.DateTime)</span>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Street1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Street1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Street2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Street2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ZipCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd>
            <span data-date="@Model.DateCreated">@Html.DisplayFor(model => model.DateCreated)</span>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContainerColor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContainerColor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContainerSize)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContainerSize)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VideoStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VideoStatus)
        </dd>

        @if (Model.ExceptionDetails != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.ExceptionDetails.Type)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ExceptionDetails.Type)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ExceptionDetails.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ExceptionDetails.Description)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ExceptionDetails.Notes)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ExceptionDetails.Notes)
            </dd>
        }

        @if (Model.Images != null)
        {
            @for (int i = 0; i < Model.Images.Count; i++)
            {
                <dt>
                    PictureURL@(i + 1)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Images.ElementAt(i).ImageURL)
                </dd>
            }
        }

        @if (Model.Videos != null)
        {
            @for (int i = 0; i < Model.Videos.Count; i++)
            {
                <hr />
                <dt>
                    VideoURL
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Videos.ElementAt(i).VideoURL)
                </dd>
                <dt>
                    Speed
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Videos.ElementAt(i).Speed)
                </dd>
                <dt>
                    Heading
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Videos.ElementAt(i).Heading)
                </dd>
                <dt>
                    CameraChannel
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Videos.ElementAt(i).CameraChannel)
                </dd>
                <dt>
                    StartDateTime
                </dt>
                <dd>
                    <span data-date="@Model.Videos.ElementAt(i).StartDateTime">@Html.DisplayFor(model => model.Videos.ElementAt(i).StartDateTime)</span>
                </dd>
                <dt>
                    EndDateTime
                </dt>
                <dd>
                    <span data-date="@Model.Videos.ElementAt(i).EndDateTime">@Html.DisplayFor(model => model.Videos.ElementAt(i).EndDateTime)</span>
                </dd>
                <dt>
                    Latitude
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Videos.ElementAt(i).Latitude)
                </dd>
                <dt>
                    Longitude
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Videos.ElementAt(i).Longitude)
                </dd>
                <dt>
                    Altitude
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Videos.ElementAt(i).Altitude)
                </dd>
                <dt>
                    MDTUrl
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Videos.ElementAt(i).MDTUrl)
                </dd>
            }
        }


    </dl>
</div>
<div>
    <a asp-action="Index" asp-controller="WasteManagementEventList">Back to List</a>
</div>

